In [39]:
from sqlalchemy import (create_engine, 
                        inspect, 
                        text, 
                        select, 
                        MetaData, 
                        Table, 
                        and_,
                        or_,
                        desc,
                        asc,
                        func,
                        )

engine_903 = create_engine("sqlite+pysqlite:////workspaces/python-learning-repo-D2I/intermediate_python_s1/data/903_database.db") 

connection_903 = engine_903.connect()
inspection_903 = inspect(connection_903)

inspection_903.get_table_names()

['ad1',
 'episodes',
 'header',
 'missing',
 'oc2',
 'oc3',
 'placed_for_adoption',
 'previous_permenance',
 'reviews',
 'uasc']

In [40]:
engine_gravity = create_engine("sqlite+pysqlite:////workspaces/python-learning-repo-D2I/intermediate_python_s1/data/gravity.db") 

connection_gravity = engine_gravity.connect()
inspection_gravity = inspect(connection_gravity)

inspection_gravity.get_table_names()

['address',
 'address_status',
 'author',
 'book',
 'book_author',
 'book_language',
 'country',
 'cust_order',
 'customer',
 'customer_address',
 'order_history',
 'order_line',
 'order_status',
 'publisher',
 'shipping_method']

In [41]:
metadata_903 = MetaData()

episodes = Table('episodes', metadata_903, autoload_with = engine_903)
print(episodes.name)
print(episodes.c.keys())
print(repr(episodes))

episodes
['index', 'CHILD', 'DECOM', 'RNE', 'LS', 'CIN', 'PLACE', 'PLACE_PROVIDER', 'DEC', 'REC', 'REASON_PLACE_CHANGE', 'HOME_POST', 'PL_POST', 'URN']
Table('episodes', MetaData(), Column('index', INTEGER(), table=<episodes>), Column('CHILD', INTEGER(), table=<episodes>), Column('DECOM', TEXT(), table=<episodes>), Column('RNE', TEXT(), table=<episodes>), Column('LS', TEXT(), table=<episodes>), Column('CIN', TEXT(), table=<episodes>), Column('PLACE', TEXT(), table=<episodes>), Column('PLACE_PROVIDER', TEXT(), table=<episodes>), Column('DEC', TEXT(), table=<episodes>), Column('REC', TEXT(), table=<episodes>), Column('REASON_PLACE_CHANGE', TEXT(), table=<episodes>), Column('HOME_POST', TEXT(), table=<episodes>), Column('PL_POST', TEXT(), table=<episodes>), Column('URN', INTEGER(), table=<episodes>), schema=None)

In [42]:
metadata_gravity = MetaData()
book = Table('book', metadata_gravity, autoload_with = engine_gravity)
print(book.name)
print(book.c.keys())
print(repr(book))

book
['book_id', 'title', 'isbn13', 'language_id', 'num_pages', 'publication_date', 'publisher_id']
Table('book', MetaData(), Column('book_id', INTEGER(), table=<book>, primary_key=True), Column('title', TEXT(), table=<book>), Column('isbn13', TEXT(), table=<book>), Column('language_id', INTEGER(), ForeignKey('book_language.language_id'), table=<book>), Column('num_pages', INTEGER(), table=<book>), Column('publication_date', DATE(), table=<book>), Column('publisher_id', INTEGER(), ForeignKey('publisher.publisher_id'), table=<book>), schema=None)

In [43]:
with engine_903.connect() as con:
    stmt = "select * from episodes"
    result_proxy = con.execute(text(stmt)) 
    results = result_proxy.fetchall()

first_row_episodes = results[0]
print(episodes.c.keys())
print(first_row_episodes)
print(first_row_episodes.CHILD)

['index', 'CHILD', 'DECOM', 'RNE', 'LS', 'CIN', 'PLACE', 'PLACE_PROVIDER', 'DEC', 'REC', 'REASON_PLACE_CHANGE', 'HOME_POST', 'PL_POST', 'URN']
(0, 566910, '15/02/2016', 'L', 'C2', 'N3', 'T2', 'PR0', '14/08/2017', 'X1', 'CLOSE', None, None, 4244474)
566910

In [44]:
with engine_gravity.connect() as con:
    stmt = "select * from book"
    result_proxy = con.execute(text(stmt))
    results = result_proxy.fetchall()

first_row_book = results[0]
print(book.c.keys())
print(first_row_book)
print(first_row_book.title)

['book_id', 'title', 'isbn13', 'language_id', 'num_pages', 'publication_date', 'publisher_id']
(1, "The World's First Love: Mary  Mother of God", '8987059752', 2, 276, '1996-09-01', 1010)
The World's First Love: Mary  Mother of God

In [45]:
with engine_gravity.connect() as con:
    stmt = "select * from book"
    result_proxy = con.execute(text(stmt))
    results = result_proxy.fetchmany(size=10)

print(results) #SQL select statement within python

[(1, "The World's First Love: Mary  Mother of God", '8987059752', 2, 276, '1996-09-01', 1010), (2, 'The Illuminati', '20049130001', 1, 352, '2004-10-04', 1967), (3, 'The Servant Leader', '23755004321', 1, 128, '2003-03-11', 1967), (4, 'What Life Was Like in the Jewel in the Crown: British India  AD 1600-1905', '34406054602', 1, 168, '1999-09-01', 1978), (5, "Cliffs Notes on Aristophanes' Lysistrata  The Birds  The Clouds  The Frogs", '49086007763', 1, 80, '1983-12-29', 416), (6, "Life Is a Dream and Other Spanish Classics (Eric Bentley's Dramatic Repertoire) - Volume II", '73999140774', 1, 298, '2000-04-01', 96), (7, 'William Goldman: Four Screenplays', '73999254907', 2, 504, '2000-05-01', 95), (8, 'The Season: A Candid Look at Broadway', '73999768442', 1, 448, '2004-07-01', 1136), (9, 'The Beatles Complete - Updated Edition', '73999960822', 1, 303, '1986-12-01', 835), (10, 'Working Effectively with Legacy Code', '76092025986', 1, 464, '2004-09-01', 1591)]

In [46]:
with engine_903.connect() as con:
    stmt = select(episodes)
    # print(stmt)
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=5)

print(result)

[(0, 566910, '15/02/2016', 'L', 'C2', 'N3', 'T2', 'PR0', '14/08/2017', 'X1', 'CLOSE', None, None, 4244474), (1, 566910, '14/08/2017', 'T', 'C2', 'N3', 'A3', 'PR3', None, 'X1', None, 'EG19 7TT', 'WV27 9FW', 8969628), (2, 384923, '26/04/2016', 'T', 'L1', 'N8', 'A5', 'PR2', '09/05/2017', 'X1', None, 'EH14 8EC', 'WD10 6ZQ', 1157828), (3, 384923, '09/05/2017', 'L', 'C2', 'N8', 'A5', 'PR2', None, 'X1', 'CARPL', 'EH14 8EC', 'WD10 6ZQ', 1157828), (4, 709901, '07/04/2016', 'L', 'V3', 'N8', 'T3', 'PR2', '22/01/2018', 'X1', None, 'EE28 7VZ', 'WT9 9BG', 5814849)]

In [47]:
with engine_gravity.connect() as con:
    stmt = select(book)
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=5)

print(result) #python select statement, 'with' keeps within current code cell

[(1, "The World's First Love: Mary  Mother of God", '8987059752', 2, 276, datetime.date(1996, 9, 1), 1010), (2, 'The Illuminati', '20049130001', 1, 352, datetime.date(2004, 10, 4), 1967), (3, 'The Servant Leader', '23755004321', 1, 128, datetime.date(2003, 3, 11), 1967), (4, 'What Life Was Like in the Jewel in the Crown: British India  AD 1600-1905', '34406054602', 1, 168, datetime.date(1999, 9, 1), 1978), (5, "Cliffs Notes on Aristophanes' Lysistrata  The Birds  The Clouds  The Frogs", '49086007763', 1, 80, datetime.date(1983, 12, 29), 416)]

In [48]:
header = Table('header', metadata_903, autoload_with = engine_903)

with engine_903.connect() as con:
    stmt = select(header).where(or_(header.columns.ETHNIC == "REFU",
                                    header.columns.ETHNIC == "NOBT"))
   # print(stmt)
    results = con.execute(stmt).fetchmany(size=10)

print(results) #more complicated select (where & all)

[(1, 384923, 2, '09/09/2011', 'REFU', 'L034811502612', None, None), (4, 710229, 2, '15/04/2002', 'REFU', 'Z095096287583', None, None), (12, 411080, 1, '30/07/2011', 'NOBT', 'O068405655286', None, None), (17, 50224, 1, '11/01/2003', 'REFU', 'U055331591206', None, None), (40, 638861, 2, '24/09/2009', 'REFU', 'J059828899095', None, None), (71, 601515, 1, '04/07/2009', 'NOBT', 'W049855114323', None, None), (82, 803399, 2, '25/08/2007', 'REFU', 'A027843547835', None, None), (95, 995881, 2, '03/11/2004', 'REFU', 'X032007250701', None, None), (100, 291566, 2, '03/08/2008', 'REFU', 'R093718527820', None, None), (101, 456268, 2, '06/10/2004', 'NOBT', 'U092523018249', None, None)]

In [49]:
#select all of the book table where the book_id is either 1 or 2

book = Table('book', metadata_gravity, autoload_with = engine_gravity)

with engine_gravity.connect() as con:
    stmt = select(book).where(or_(book.columns.book_id == 1,
                                  book.columns.book_id == 2))
    
    results = con.execute(stmt).fetchall()

print(results)

[(1, "The World's First Love: Mary  Mother of God", '8987059752', 2, 276, datetime.date(1996, 9, 1), 1010), (2, 'The Illuminati', '20049130001', 1, 352, datetime.date(2004, 10, 4), 1967)]

In [ ]:
import pandas as pd

with engine_gravity.connect() as con:
    stmt = select(book)
    results = con.execute(stmt).fetchall()

#print(results)

df = pd.DataFrame(result) # changes to table view rather than string

df

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,1,The World's First Love: Mary Mother of God,8987059752,2,276,1996-09-01,1010
1,2,The Illuminati,20049130001,1,352,2004-10-04,1967
2,3,The Servant Leader,23755004321,1,128,2003-03-11,1967
3,4,What Life Was Like in the Jewel in the Crown: ...,34406054602,1,168,1999-09-01,1978
4,5,Cliffs Notes on Aristophanes' Lysistrata The ...,49086007763,1,80,1983-12-29,416